* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(229, 57%, 11%);
  height: 100%;
}

.container {
  height: 60%;
  width: 100%;
  background-image: url(/images/bg-desktop.png);
  position: fixed;
  bottom: 0;

  @media only screen and (max-width: 900px) {
    background-image: url(/images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
}

.the-fylo {
  @media only screen and (max-width: 900px) {
  }
}

.fylo {
  left: 15%;
  top: 23%;
  position: absolute;
  transform: translate(15%, 23%);
  height: 150px;
  width: 300px;
  background-color: hsl(228, 56%, 26%);
  margin-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 70px;

  @media only screen and (max-width: 1044px) {
    left: 10%;
  }

  @media only screen and (max-width: 934px) {
    width: 250px;
  }

  @media only screen and (max-width: 900px) {
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    width: 300px;
    margin-right: 0;
  }

  &__top {
    padding-bottom: 10px;
  }

  &__bottom {
    display: flex;
    &--img {
      height: 15px;
      width: 17px;
    }
  }
  &__image {
    border-radius: 7px;
    margin: 10px;
    padding: 10px;
    background-color: hsl(229, 57%, 11%);
    width: fit-content;
  }
}

.usage {
  border-radius: 10px;
  padding: 20px;
  height: 120px;
  width: 500px;
  background-color: hsl(228, 56%, 26%);
  left: 33%;
  top: 27.77%;
  position: absolute;
  transform: translate(33%, 27.77%);

  @media only screen and (max-width: 1132px) {
    left: 34%;
    top: 27.77%;
    transform: translate(34%, 27.77%);
  }

  @media only screen and (max-width: 1044px) {
    width: 400px;
  }

  @media only screen and (max-width: 900px) {
    left: 050%;
    top: 60%;
    transform: translate(-50%, -70%);
    width: 300px;
  }

  color: #fff;
  &__text {
    display: flex;
    padding-bottom: 10px;
  }

  &__description {
    margin-right: auto;
  }

  &__progress {
    width: 70%;
    background: linear-gradient(
      to right,
      hsl(6, 100%, 80%),
      hsl(335, 100%, 65%)
    );
    border-radius: 15px;
    height: 15px;
    z-index: 99;
    position: relative;

    &--behind {
      margin-top: 10px;
      width: 100%;
      background-color: hsl(229, 57%, 11%);
      height: 17px;
      border-radius: 15px;
      z-index: 99;
    }

    &--stopper {
      background-color: #fff;
      height: 15px;
      width: 15px;
      margin-left: auto;
      border-radius: 50%;
    }
  }

  &__remaining {
    background-color: hsl(243, 100%, 93%);
    width: 160px;
    height: 90px;
    display: flex;
    top: 100%;
    padding-bottom: 15px;
    margin-top: -135px;
    margin-left: 290.99px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: hsl(229, 7%, 55%);
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 75%,
      100% 99%,
      100% 100%,
      86% 75%,
      0% 75%
    );

    @media only screen and (max-width: 1044px) {
      margin-left: 200px;
      margin-top: -145px;
    }

    @media only screen and (max-width: 900px) {
      clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
      padding-bottom: 15px;
      margin-top: 7px;
      margin-left: 40.99px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  &__position {
    display: flex;
  }

  &__left {
    margin-right: auto;
  }
  &__right {
  }
}

span {
  color: hsl(228, 56%, 26%);
  font-weight: bold;
  font-size: 20px;
  padding-right: 10px;
  text-transform: uppercase;
}
